@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* --button-width: 12ch; */
  --button-height: 5ch;
  --button-color: rgba(48, 43, 49, 0.792);
  --button-color-hover: rgba(64, 53, 64, 0.783);
  --button-color-clicked-hover: rgba(255, 0, 0, 0.135);
  --button-border: solid rgba(54, 50, 75, 0.669) 2px;
  --button-border-hover: solid rgba(162, 34, 143, 0.384) 2px;
  --button-border-radius: 6px;
  --button-font-size: 20px;
  --big-button-color: rgba(107, 110, 122, 0.342);
  --big-button-color-hover: rgba(39, 23, 42, 0.402);
  --big-button-border: #9090c387 solid 2px;
  --big-button-border-radius: 10px;
  --big-button-border-effect: rgba(125, 105, 40, 0.422);
  --big-button-border-hover: solid rgba(162, 34, 143, 0.194) 2px;
  --simple-button-color: rgba(75, 79, 154, 0.495);
  --simple-button-color-hover: rgba(74, 102, 186, 0.514);
  --simple-button-border: #ff7f5018 solid 1px;
  --simple-button-border-radius: 15px;
  --simple-button-border-effect: rgba(125, 105, 40, 0.422);
  --simple-button-border-hover: solid rgba(162, 34, 143, 0.194) 2px;
  /* Used to calculate how the layout should respond when sidebar opens */
  --resize: 400px;
  --linearTheme: linear-gradient(rgba(26, 44, 79, 0.395), rgb(5, 36, 53));
  --tool-background-color: rgba(23, 23, 36, 0.943);
}

/* Media query for computers */
@media screen and (min-width: 768px) {}

/* Generally smaller screens */
@media screen and (max-width: 1000px) {
  /* body {
    overflow: scroll;
  } */

  #panesElements {
    left: 0 !important;
    width: auto !important;
  }

  #topbar {
    left: 0 !important;
  }

  .focusSideBarOn {
    left: 75vw;
    width: 25vw;
    height: 100vh;
  }

  #changeLogWindow {
    grid-gap: 1px !important;
  }
}

/* Mobile screen (PORTRAIT MODE) */
@media screen and (max-width: 800px) {
  #topHeader h1 {
    display: none;
  }
}

/* Mobile screen (NOT PORTRAIT MODE) */
@media screen and (max-width: 500px) {
  #topHeader h1 {
    display: none;
  }

  #toolbar button {
    min-width: 100px !important;
    width: 200px;
    font-size: 15px;
    height: 1vh;
    padding: 1px;
    margin: 0;
  }

  /* Hide all the other elements */
  .focusSideBarOn>* {
    display: none;
  }

  /* Show the minimizer button and the time */
  #startFocus {
    display: inline;
  }

  /* Better font size for mobile */
  .paneStyle .description {
    font-size: 2.5ch;
  }
}

.themedButton {
  color: white;
  font-size: var(--button-font-size);
  background-color: var(--button-color);
  border: var(--button-border);
  transition: 0.5s;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  padding: 0.5ch;
  text-align: center;
  min-height: 45px;
  height: 2ch;
}

.themedButton:hover {
  background-color: var(--button-color-hover);
  border: var(--button-border-hover);
}

.paneToolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.themedButtonClicked {
  color: white;
  font-size: var(--button-font-size);
  transition: 0.5s;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  padding: 0.5ch;
  text-align: center;
  background-color: var(--button-color-clicked-hover);
  border: var(--button-border-hover);
}

.bigThemedButton {
  color: white;
  background-color: var(--big-button-color);
  border: var(--big-button-border);
  font-size: 2ch;
  /* padding: 1vh; */
  min-width: 12ch;
  min-height: 50px;
  height: 4ch;
  /* width: 16ch; */
  transition: 0.4s;
  border-radius: var(--big-button-border-radius);
  cursor: pointer;
  box-shadow: 2px 2px 1px 0px rgba(18, 57, 88, 0.251);
}

.bigThemedButton:hover {
  animation-name: conicBorderEffect;
  animation-duration: 1s;
  background-color: var(--big-button-color-hover);
  border: var(--big-button-border);
  /* x, y, blur, spread */
  box-shadow: 0px 2px 0px 0px rgb(46, 44, 46);
}

@keyframes conicBorderEffect {
  0% {
    border-top-color: var(--big-button-border-effect)
  }

  25% {
    border-right-color: var(--big-button-border-effect);
    border-top-color: none;
  }

  50% {
    border-bottom-color: var(--big-button-border-effect);
    border-right-color: none;
  }

  75% {
    border-left-color: var(--big-button-border-effect);
    border-bottom-color: none;
  }

  100% {
    border: var(--big-button-border)
  }
}

.simpleThemedButton {
  color: white;
  background-color: var(--simple-button-color);
  border: var(--simple-button-border);
  font-size: 1.6ch;
  width: 6ch;
  height: 5ch;
  transition: 0.4s;
  border-radius: var(--simple-button-border-radius);
  cursor: pointer;
  box-shadow: 2px 2px 1px 0px rgba(18, 57, 88, 0.251);
  font-weight: bolder;
}

.simpleThemedButton:hover {
  background-color: var(--simple-button-color-hover);
  border: var(--simple-button-border);
  box-shadow: 0px 2px 0px 0px rgb(46, 44, 46);
}

.fadeInEffect {
  animation-name: fadeInEffect;
  animation-duration: 1s;
  margin-right: 40px;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Delay animation by 0.05s so the other popOutEffect will take 0.05s and popInEffect follows after */
.popInEffect {
  animation-name: popInEffect;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  /* animation-timing-function: cubic-bezier(0.49, 0.54, 0.01, 0.97); */
}

@keyframes popInEffect {
  from {
    padding: 0.1vw;
    font-size: 0.01ch;
    opacity: 0;
    z-index: 4;
  }

  to {
    padding: 0.5ch;
    font-size: var(--button-font-size);
    opacity: 1;
  }
}

.popOutEffect {
  z-index: -1;
  /* Would have used display but animation doesn't work */
  visibility: hidden;
  position: absolute;
}

body {
  /* background-image: url('../assets/blur.png'); */
  background-color: #111929ed;
  /* Bad practice */
  /* color: white; */
  overflow-x: hidden;
}

#splashscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.454);
  visibility: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
  /* backdrop-filter: blur(30px); */
}

img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
}

#topbar {
  margin-left: 20px;
  position: relative;
  left: calc(var(--resize));
}

#topHeader {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
}

#toolbar {
  display: flex;
  align-items: center;
  margin-left: 2%;
  overflow-x: hidden;
}

#toolbar button {
  min-width: 150px;
  max-width: 25ch;
  /* top | left and right | bottom */
  margin-left: 10px;
  margin-top: 10px;
}

#topHeader>* {
  margin: 0;
}

#topHeader h1 {
  margin-right: 2x;
  padding: 0;
  font-size: 200%;
  /* Fixes the problem with the toolbar moving left and right arrows */
  width: fit-content;
}

#focusSession {
  transition: 1s;
  text-align: center;
  /* overflow-y: scroll; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* only buttons one level down */
#focusSession>button {
  position: absolute;
}

#focusSession #spotifyPart {
  display: grid;
  padding: 0 20px;
  border: solid black 4px;
  overflow-y: scroll;
}

#focusSession #focusPart {
  display: inline;
  margin-top: 20vh;
}

#focusSession input {
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#focusSession h1 {
  transition: 0s;
}

/* focusSideBarOn is in a media query */
.focusSideBarOn {
  left: 90vw;
  width: 15vw;
  height: 100vh;
  backdrop-filter: none !important;
  display: flex !important;
  justify-content: center;
  transition: 0.5s !important;
}

.focusSideBarOn #startFocus {
  position: absolute;
}

.focusSideBarOn:hover {
  left: 65vw;
  width: 40vw;
  height: 100vh;
}

#main {
  margin-left: 4vw;
}

.sidebarOff {
  left: 0 !important;
}

/* For the toggle sidebar */
.sidebarOffToggle {
  content: '>' !important;
}

#sidebar {
  padding: 0;
  font-size: 2.2ch;
  height: 100%;
  background: var(--linearTheme);
  background-color: black;
  left: 0;
  width: var(--resize);
  border-radius: 10px;
  border-top-left-radius: 0;
  position: fixed;
  margin-top: 0 !important;
  z-index: 1;
  transition: 0.5s;
  animation-name: firstOpenSidebar;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  overflow-x: hidden;
}
/* 
AI Generated code. Might use later.
#sidebar::-webkit-scrollbar {
  width: 8px;
  background-color: #e4e4e4;
  border-radius: 100px;
}

#sidebar::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
} */

@keyframes firstOpenSidebar {
  from {
    width: 0;
  }

  to {
    width: var(--resize);
  }
}

#sidebar .section {
  width: 90%;
  height: 10%;
  padding: 2vw;
}

#sidebar .section p {
  display: flex;
  margin: 0;
  padding: 2ch;
  background-color: rgba(0, 0, 0, 0.009);
  word-wrap: break-word;
  font-size: 80%;
  width: 45%;
}

#sidebar .section button {
  font-size: 125%;
  margin: 0;
  padding: 0;
  position: absolute;
}

/* For main page and section page */
.section button:hover {
  background-color: rgb(40, 40, 40);
}

#toggleSidebar {
  font-size: 5ch;
  opacity: 0.8;
  cursor: pointer;
  padding-left: 1vw;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: whitesmoke;
}

#panes>.pane {
  margin: 5px;
}

.section {
  /* border-bottom: rgb(0, 94, 255) solid 2px; */
  /* border-bottom-style: dashed; */
  background-color: rgba(24, 25, 30, 0.279);
  padding: 0.5vw;
  padding-left: 0;
  transition: 0.5s;
  color: white;
  border-bottom: solid #3d2b49 2px;
  overflow: hidden;
}

.section p {
  margin-right: 20px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
}

#sections ul {
  list-style-type: none;
}

#sections ul div {
  display: flex;
  align-items: center;
  /* word-wrap:break-word; */
  height: 6ch;
  padding-left: 1vw;
}

#sections ul p {
  /* background-color: rgb(26, 25, 31); */
  transition: 0.5s;
  width: 100%;
}

#sections ul p:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
}

#sections ul button {
  position: absolute;
  left: 25vw;
}

#sectionToolbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#sectionToolbar #add {
  font-size: 3.5ch;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  border-radius: 10px;
  margin: 1ch;
  color: white;
  margin-top: 2ch;
}

#sectionToolbar #add:hover {
  padding: 0.7vw;
}

#pin {
  display: inline;
}

#pinned {
  text-align: center;
}

#addPane {
  font-size: 3.5ch;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  border-radius: 10px;
  color: white;
  margin-left: 40px;
  background-color: rgb(53, 50, 53);
}

@keyframes animate {
  0% {
    width: 0;
    visibility: visible;
  }

  40% {
    width: 100%;
  }

  60% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.splashAnimate {
  animation-name: animate;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

#panesElements {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  width: calc(100% - var(--resize));
  position: relative;
  left: calc(var(--resize));
  margin-top: 7ch;
}

.fadeOutPane {
  animation-name: fadeOut;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }

  to {
    opacity: 0;
  }
}

.title {
  margin: 20px;
  font-size: 4ch !important;
}

.title * {
  font-weight: bold;
  white-space: pre-wrap;
  padding: 0 !important;
  margin: 0 !important;
}

.description {
  margin: 20px;
}

.description * {
  padding: 0;
  text-align: center;
  margin: 0 !important;
}

.ql-editor>* {
  padding: 10px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.paneStyle {
  width: fit-content;
  min-width: 150px;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  /* color: white; */
  transition: 0.5s;
  border: solid #571981 2px;
  background-color: #312d33bd;
  padding: 0.5vw;
  color: white;
}

.paneStyle:hover {
  background-color: rgba(23, 23, 45, 0.564);
}

.pinnedPane {
  border: 1px solid rgb(192 59 59);
}

#sectionsItems {
  margin: 0;
  padding: 0;
}

#themes {
  /* background-image: url(https://images.unsplash.com/photo-1614850523011-8f49ffc73908?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: fixed;
  background-color: rgba(37, 29, 40, 0.888);
  z-index: 2;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
}

#themeContainer {
  background-size: cover;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  /* background-color: #191919a6; */
  position: fixed;
  z-index: 3;
  padding-left: 15px;
  width: 100vw;
  height: 100vh;
  word-wrap: break-word;
  text-align: center;
}

/* #themeContainer ul {
  list-style-type: none;
} */
#themeContainerNext {
  position: absolute;
  left: 85vw;
  top: 90vh;
  z-index: 3;
  background-color: rgb(46, 50, 58);
}

#themeSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 25px;
}

#themeContainer div {
  font-size: 2ch;
}

#themeContainer h1 {
  position: relative;
  z-index: 1;
}

#themeContainer h2 {
  position: relative;
  z-index: 1;
}

#themeContainer p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
}

#changeLogWindow {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.markdown {
  background-color: rgba(0, 0, 0, 0.137);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 10px;
  width: 40vw;
  height: 80vh;
  margin: 2vw;
  overflow-y: auto;
  z-index: 1;
  position: fixed;
  gap: 50px;
}

/* Where the filename is */
.markdown div {
  background-color: #282c34;
  padding: 10px;
}

.markdownBehind {
  opacity: 0.1;
}

#changeLater {
  color: rgba(105, 105, 105, 0.639) !important;
}

#themeContainer button {
  margin-left: 20px;
}

#themeSelect div {
  width: 20ch;
  height: 12ch;
  background-color: rgba(0, 0, 0, 0.137);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

#themeSelect div:hover {
  padding: 1vw;
}

/* #themeSelect div:nth-child(2) {
  background-image: url('./assets/dark-mode.png');
  background-size: contain;
  background-repeat: no-repeat;
} */

#startFocus {
  position: relative;
  text-align: center;
  border-radius: 10px;
  font-size: 2.8ch;
  width: 38px;
  left: 2vw;
  margin-top: 2vw;
}

/* unneccesary effect */
/* #startFocus:hover {
  box-shadow: 5px 5px 2px rgb(14, 14, 28);
} */

.exitToolButton {
  position: absolute;
  left: 90vw;
  top: 2vw;
}

#exitFocus:hover {
  box-shadow: 5px 5px 2px rgb(14, 14, 28);
}

#focusTimer button {
  text-align: center;
}

#focusMinutesInput {
  color: white;
  font-size: var(--button-font-size);
  background-color: var(--button-color);
  border: var(--button-border);
  /* transition: 0.5s; */
  border-radius: var(--button-border-radius);
  padding: 0.5vw;
  text-align: center;
  width: 6ch;
  height: 3ch;
}

#focusMinutesInput:hover {
  background-color: var(--button-color-hover);
  border: var(--button-border-hover);
}

#focusMinutesInput::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  opacity: 0;
}

#showSeconds {
  margin-bottom: 20px;
  margin-left: 10px;
}

#settingsWindow {
  /* 4 so it's higher than the focus session */
  z-index: 4;
}

#settingsWindowTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 10%;
  font-size: 3ch;
  margin-left: 0;
  cursor: default;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.037);
  margin: 5px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(172, 185, 230, 0.998);
}

#settingsContent {
  background-color: rgba(141, 148, 203, 0.297);
  border-radius: 10px;
  width: 65vw;
  margin-top: 15vh;
  position: fixed;
  left: 30vw;
  transition: 0.5s;
}

#settingsContent h1 {
  margin-top: 30px;
  margin-left: 2vw;
  color: rgba(255, 255, 255, 0.763)
}

#settingsContent div {
  margin: 30px;
}

#settingsSidebar ul {
  list-style-type: none;
  padding: 0;
  background-color: rgba(61, 93, 165, 0.498);
  border-radius: 5px;
  position: fixed;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
}

#settingsSidebar ul li {
  width: 25vw;
  height: 15%;
  padding: 0.1vw;
  font-size: 2ch;
  margin-left: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.221);
  margin: 5px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(172, 185, 230, 0.998);
  min-height: 50px;
}

#settingsSidebar ul li:hover {
  background-color: rgb(14, 14, 19);
}

@keyframes fadeIn {
  from {
    backdrop-filter: none;
    background-color: rgba(37, 37, 37, 0.132);
    width: 90vw;
    height: 90vh;
    left: 5vw;
    top: 5vh;
  }

  to {
    background-color: var(--tool-background-color);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }
}

.tool {
  animation: fadeIn;
  animation-duration: 0.5s;
  background-color: var(--tool-background-color);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  color: white;
  /* TODO Backdrop filter is disabled on mobile to save energy */

  /* TODO Implement a backdrop filter thingy, prob using useEffect() */
}

.toolNoEffects {
  background-color: var(--tool-background-color);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  color: white;
}

#showLess {
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#showMore {
  position: absolute;
  left: 85vw;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grades {
  text-align: center;
}

#dashboard {
  text-align: center;
}

.x-Button {
  border: solid rgba(255, 0, 0, 0.198) 2px;
}

.pin-Button {
  border: #a34b4b4d solid 2px;
}

#firstStartUpWindow {
  color: white;
}

.ql-toolbar {
  background-color: white;
}

.ql-snow {
  .ql-picker {
    &.ql-size {

      .ql-picker-label,
      .ql-picker-item {
        &::before {
          content: attr(data-value) !important;
        }
      }
    }
  }
}

/* https://stackoverflow.com/users/5551593/andrew in https://stackoverflow.com/questions/38623716/how-to-add-custom-font-sizes-to-quilljs-editor */
.ql-color .ql-picker-options [data-value=custom-color] {
  background: none !important;
  width: 100% !important;
  height: 20px !important;
  text-align: center;
}
/* https://stackoverflow.com/questions/43728080/how-to-add-font-types-on-quill-js-with-toolbar-options */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value]::before {
  content: attr(data-value) !important;
}
.ql-color .ql-picker-options [data-value=custom-color]:before {
  content: 'Custom Color';
}
.ql-color .ql-picker-options [data-value=custom-color]:hover {
  border-color: transparent !important;
}