@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* --button-width: 12ch; */
  --button-height: 5ch;
  --button-color: rgba(28, 28, 28, 0.909);
  --button-color-hover: rgba(97, 97, 97, 0.783);
  --button-border: solid rgba(0, 0, 0, 0.053) 2px;
  --button-border-hover: solid rgb(34, 34, 34) 2px;
  --button-border-radius: 6px;
  --button-font-size: 2.3ch;
  --big-button-color: rgba(28, 30, 34, 0.824);
  --big-button-color-hover: rgb(77, 77, 77);
  --big-button-border: solid rgb(66, 66, 66) 2px;
  --resize: 200px;
}

.themedButton {
  color: white;
  width: calc(54px - 1vw);
  height: calc(48px - 1vh);
  font-size: var(--button-font-size);
  background-color: var(--button-color);
  border: var(--button-border);
  transition: 0.5s;
  border-radius: var(--button-border-radius);
  cursor: pointer;
}

.themedButton:hover {
  background-color: var(--button-color-hover);
  border: var(--button-border-hover)
}

.bigThemedButton {
  color: white;
  background-color: var(--big-button-color);
  /* border: var(--big-button-border); */
  font-size: 2ch;
  transition: 0.4s;
  border-radius: var(--button-border-radius);
  border: solid rgba(0, 0, 0, 0.055) 2px;
  cursor: pointer;
}

.bigThemedButton:hover {
  background-color: var(--big-button-color-hover);
  border: var(--big-button-border);
}

body {
  background-color: #282c34;
  color: white;
  overflow-x: hidden;
}

#sm {
  margin: 5px;
  color: rgba(255, 255, 255, 0.272);
  cursor: pointer;
}

img {
  width: 5ch;
  height: 5ch;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
}

#topbar {
  margin-left: 20px;
  position: relative;
  left: calc(var(--resize));
}

#topHeader {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#topHeader>* {
  margin: 0;
  padding: 0;
}

#topHeader h1 {
  margin-right: 10px;
}

#topHeader button {
  padding: 0.5vw;
  margin: 2px;
  margin-top: 10px;
}

#focusSession {
  position: fixed;
  background-color: rgb(17, 17, 23);
  z-index: 3;
  transition: 1s;
  text-align: center;
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#focusSession h1 {
  transition: 0s;
}

/* focusSideBarOn is in a media query */
.focusSideBarOn {
  left: 96vw;
  width: 15vw;
  height: 100vh;
}
.focusSideBarOn:hover {
  left: 85vw;
  width: 15vw;
  height: 100vh;
}

.focusSideBarOff {
  /* left: 0; */
  width: 100vw;
  height: 100vh;
}

#main {
  margin-left: 4vw;
}

@media screen and (max-width: 1000px) {
  #panesElements {
    left: 0 !important;
    width: auto !important;
  }

  #topbar {
    left: 0 !important;
  }

  .focusSideBarOn {
    left: 75vw;
    width: 25vw;
    height: 100vh;
  }
}

.sidebarOff {
  left: 0 !important;
}

/* For the toggle sidebar */
.sidebarOffToggle {
  content: '>' !important;
}

#sidebar {
  padding: 0;
  font-size: 2.2ch;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
  left: 0;
  width: var(--resize);
  border-radius: 10px;
  border-top-left-radius: 0;
  position: fixed;
  margin-top: 0 !important;
  z-index: 1;
  transition: 0.5s;
  animation-name: firstOpenSidebar;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes firstOpenSidebar {
  from {
    width: 0;
  }

  to {
    width: var(--resize);
  }
}

#sidebar .section {
  width: 95%;
  height: 10%;
  background-color: rgb(15, 11, 16);
}

#sidebar .section * {
  padding: 0;
  margin: 0;
}

#sidebar .section p {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.009);
  word-wrap: break-word;
  width: 90%;
  font-size: 80%;
}

#sidebar .section button {
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/* For main page and section page */
.section button:hover {
  background-color: rgb(40, 40, 40);
}

#toggleSidebar {
  font-size: 25px;
  cursor: pointer;
  padding-left: 1vw;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: whitesmoke;
}

#panes>.pane {
  margin: 5px;
}

.section p {
  margin-right: 20px;
}

#sections ul {
  list-style-type: none;
}

#sections ul {
  background-color: rgb(24, 25, 30);
  padding: 0.5vw;
  padding-left: 0;
  transition: 0.5s;
  color: white;
  border: solid rgba(54, 54, 72, 0.235) 2px;
}

#sections ul div {
  display: flex;
  align-items: center;
  border-style: inset;
  border: none;
  /* word-wrap:break-word; */
  height: 6ch;
}

#sections ul div::before {
  background-color: rgb(15, 11, 16);
  content: " ";
  color: rgb(0, 0, 0);
  padding: 0.5vw;
  margin: 0;
  transition: 0.5s;
  width: 0.2ch;
  height: 2ch;
  margin: 0;
}

#sections ul p {
  /* background-color: rgb(26, 25, 31); */
  padding: 0;
  transition: 0.5s;
}

#sections ul p:hover {
  background-color: rgb(0, 0, 0);
  padding: 0.5vw;
  border-radius: 2px;
}

#toolbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#toolbar #add {
  font-size: 3.5ch;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  margin: 1ch;
  color: white;
  margin-top: 2ch;
}

#toolbar #add:hover {
  background-color: rgb(33, 33, 49);
}

#splashscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1;
}

#addPane {
  font-size: 3.5ch;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  margin: 1ch;
  color: white;
  margin-top: 2ch;
}

#addPane:hover {
  background-color: rgb(33, 33, 49);
}

@keyframes animate {
  0% {
    width: 0;
    visibility: visible;
  }

  40% {
    width: 100%;
  }

  60% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.splashAnimate {
  animation-name: animate;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.Test {
  opacity: 0;
  transition: 1s;
}

#panesElements {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  width: calc(100% - var(--resize));
  position: relative;
  left: calc(var(--resize));
}

.fadeOutPane {
  animation-name: fadeOut;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }

  to {
    opacity: 0;
  }
}

.pane {
  background-color: black;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  color: white;
  transition: 0.5s;
}

.pane:hover {
  background-color: rgb(8, 8, 16);
}

.pane .title {
  font-size: 3ch;
  margin: 0;
}

.pane .description {
  font-size: 2ch;
  text-align: center;
}

.pane>pre {
  font-family: inherit;
  color: white;
}

.pane button {
  width: calc(48px - 1vw);
  height: calc(48px - 1vh);
  font-size: 2ch;
  text-align: center;
  background-color: var(--button-color);
  border: var(--button-border);
  transition: 0.5s;
  border-radius: var(--button-border-radius);
}
.pane button:hover {
  background-color: var(--button-color-hover);
}

#sectionsItems {
  margin: 0;
  padding: 0;
}

.section {
  text-align: center;
}

#themes {
  background-image: url(https://images.unsplash.com/photo-1614850523011-8f49ffc73908?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 25vw;
  width: 75vw;
  opacity: 0.5;
  left: 15%;
  top: 15%;
}

#themeContainer {
  background-size: cover;
  border-radius: 10px;
  /* filter: hue-rotate(75deg); */
  backdrop-filter: blur(10px);
  position: absolute;
  left: 15%;
  top: 15%;
}

#themeSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#themeContainer h1 {
  padding: 5px;
  margin: 5px;
  position: relative;
  z-index: 1;
}

#themeSelect div {
  width: 10ch;
  height: 6ch;
  background-color: rgba(0, 0, 0, 0.137);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

#themeSelect div:hover {
  padding: 1vw;
}

#themeSelect div:nth-child(2) {
  background-image: url('/darkmode.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#startFocus {
  text-align: center;
  border-radius: 10px;
}

#startFocus:hover {
  box-shadow: 5px 5px 2px rgb(14, 14, 28);
}

#exitFocus {
  text-align: center;
  color: rgb(255, 0, 0);
  border-radius: 10px;
}

#exitFocus:hover {
  box-shadow: 5px 5px 2px rgb(14, 14, 28);
}

#focusTimer button {
  text-align: center;
}

#focusTimer input {
  width: 6ch;
}

#showSeconds {
  margin-bottom: 20px;
}

#settingsWindow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  background-color: black;
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  from {
    background-color: rgb(37, 37, 37);
    width: 90vw;
    height: 90vh;
    left: 5vw;
    top: 5vh;
  }

  to {
    background-color: black;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }
}

#exitSettings {
  border: rgb(49, 49, 49);
  position: absolute;
  left: 85vw;
  top: 2vw;
  border-radius: 5px;
  font-size: 2.5ch;
}

#exitSettings:hover {
  background-color: rgb(40, 40, 40);
  box-shadow: 5px 5px 2px rgb(14, 14, 28);
}

#settingsWindow h1 {
  margin-left: 2vw;
}

#settingsContent {
  background-color: rgba(82, 82, 82, 0.498);
  border-radius: 10px;
  width: 50vw;
  margin: 0;
  position: fixed;
  left: 30vw;
  transition: 0.5s;
}

#settingsContent h1 {
  margin-top: 30px;
}

#settingsContent div {
  margin: 30px;
}

#settingsSidebar ul {
  list-style-type: none;
  margin-left: 2vw;
  margin-top: 30px;
  padding: 0;
  width: fit-content;
  background-color: rgba(82, 82, 82, 0.498);
  border-radius: 10px;
  margin-left: 10px;
  position: fixed;
}

#settingsSidebar ul li {
  width: 25vw;
  height: 5ch;
  padding: 0.5vw;
  font-size: 2ch;
  margin-left: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(24, 25, 30);
  margin: 5px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.731);
}

#settingsSidebar ul li:hover {
  background-color: rgb(14, 14, 19);
}