:root {
  --button-width: 10ch;
  --button-height: 5ch;
  --button-color: #1c212d;
}
body {
  background-color: #282c34;
  color: white;
}
#sm {
  margin: 5px;
  color: rgba(255, 255, 255, 0.272);
  cursor: pointer;
}
img {
  width: 5ch;
  height: 5ch;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
}
#topbar {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
#settings {
  width: var(--button-width);
  height: var(--button-height);
  margin-left: 2ch;
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
}
#add {
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  padding: 2ch;
  margin: 0.5ch;
  cursor: pointer;
  color: white;
  font-size: 2ch;
}
#sectionList {
  margin-left: 20px;
  font-size: 2ch;
}
#panes {
  display: flex;
  flex-wrap: wrap;
}
#panes > .pane {
  margin: 5px;
}
#section {
  margin: 0;
}
#sections ul {
  list-style-type: none;
}
#sections ul li {
  background-color: rgb(24, 25, 30);
  padding: 0.5vw;
  padding-left: 0;
  transition: 0.5s;
  cursor: pointer;
}
#sections ul li:hover::before {
  padding-left: 10%;
}
#sections ul li::before {
  background-color: rgb(15, 11, 16);
  content: ">";
  color: rgb(0, 0, 0);
  padding: 0.5vw;
  margin: 0;
  transition: 0.5s;
}
#toolbar {
  display: flex;
  align-items: center;
}
#toolbar #add {
  margin-left: 5vw;
  font-size: 2.5ch;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.2vw;
}
#toolbar #add:hover {
  background-color: rgb(27, 27, 41);
}
#splashscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1;
}
@keyframes animate {
  0% {
    width: 0;
    visibility: visible;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.splashAnimate {
  animation-name: animate;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}
.Test {
  opacity: 0;
  transition: 1s;
}
.pane {
  background-color: black;
  width: auto;
  height: auto;
  font-size: 2ch;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 2ch;
}
.pane > pre {
  font-family: inherit;
  color: white;
}